<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Crazy Zak Guitars</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<style>
    body{ 
        padding-top:50px; 
        color: crimson;
        background: teal;
    }

    th,tr,td{
        padding: 20px; margin:10px; align-content: center; 
    }
    
    img{
        align-content: center;
        }

    button{
        color: black;
    }

    h1{
        color: darkblue;
    }

</style>
<script src="ejs.js"></script>