<!DOCTYPE HTML>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>Nice Burger</title>
            <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
            
    </head>

    <body>
        <div main>
                <h1>Logged out! Session over.</h1>
        </div>

        
    </body>

    <style>
        body{
            background-image: url('https://media.giphy.com/media/pcIsZrDmlvFPG/giphy.gif');
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
        }
        div[main]{
            width: 50%;
            font-family: 'Old Standard TT', serif;
            margin: 10px;
        }
        h1{
            font-size: 250%;
        }
    </style>
</html>


